name: Triage pull requests and issues
on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened]

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
      - name: Label issues and PRs
        uses: github/issue-labeler@v3.3
        with:
          configuration-path: .github/labeler.yml
          enable-versioned-regex: 0
          repo-token: ${{ secrets.GITHUB_TOKEN }}
